* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(204, 197, 197);
    font-family: "Anton", sans-serif;
}

body {
    background-color: rgb(82, 46, 49);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    border-right: 0.1rem solid rgb(204, 197, 197);
    margin-right: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem;
}


.under-construction {
    margin-left: 2rem;
}

.under-construction h1 {
    font-size: 6rem;
    line-height: 8rem;
}